<launch>

<node name="stage" pkg="stage_ros" type="stageros"
	    args="$(find lab2)/world/playground.world" />

<node name="mumbai_pose" pkg="lab2" type="mumbai_pose.py"/>

<node name="bug2" pkg="lab2" type="bug2.py"/>

<node name="perception" pkg="lab2" type="perception.py"/>
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab2)/launch/config.rviz" output="screen"/>


</launch>